accelerate
bitsandbytes
datasets
einops
imbalanced-learn
langchain
matplotlib
nltk
numpy
openai
opencv-python
pandas
peft
Pillow
pprintpp
qwen-vl-utils==0.0.10
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
tiktoken
timm
torch
torchvision
tqdm
transformers
